body{margin:0;padding: 13px 0;font-family: georgia, "times new roman", times, serif;font-size: 62.5%;color: #333;background-color: #fff;}
.fact{font-size:2em;margin-top:5%;text-align:center;width:40%;margin-left:auto;margin-right:auto;}
h1,h2,h3,h4,h5,h6 {margin: 0;color: #000;}
h2 {text-align:left;font-size: 2em;line-height: 1.083em;font-weight:bold;padding-bottom:3px;border-bottom:1px solid #000000;}